<h1>Github Score</h1>
<form (ngSubmit)="onSubmit()">
  <label for="username">Username:</label>
  <input 
  id="username" 
  type="text" 
  name="username"
  required
  minlength="1"
  [(ngModel)]="username"
  />
  <input type="submit" value="Calculate my Github Score">
</form>
<div>
  <h1>Your Score:{{score}}</h1>
  <p class="red" *ngIf="score <= 20 && score > 0">Needs Work!</p>
  <p class="orange" *ngIf="score <= 50 && score > 20">A decent start!</p>
  <p *ngIf="score <= 100 && score > 50">Doing good!</p>
  <p class="green" *ngIf="score <= 199 && score > 100">Great Job!</p>
  <p class="blue" *ngIf="score >= 200">Github Elite!</p>
</div>